doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")
  body
    header.main-header
      nav.main-header_nav
        ul.main-header_item_list
          li.main-header_item
            a.active(href="/") Shop
          li.main-header_item
            a(href="/admin/add-product") Add Product
    main
      <div class="grid">
      <article class="card product-item">
        <header class="card_header">
          <h1 class="product_title">Velo</h1>
        </header>
        <div class="card_image">
          <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        </div>
        <div class="card_content">
          <h2 class="product_price">129$</h2>
          <p class="product_description">description...</p>
        </div>
        <div class="card_actions">
          <button class="btn">Add to Cart</button>
        </div>
      </article>
      </div>
