<!DOCTYPE html>
<html>

<head>
  <title>Product Detail</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/forms.css">
</head>

<body>
  <!-- Your HTML content goes here -->
</body>

</html>
